* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    
  }

  body{
    font-family: $text-font;
    background-color: $light-color;
    line-height: 1.6;

  }
  a {
      text-decoration: none;
    }
    