.search-div{
    @extend %flex-col;
   
    align-items: center;
    margin-bottom: 15vh;
    transition: all ease-out 0.1s;
    
    
    // border: 1px solid rgb(236, 81, 81);
    
    label{
        @extend %text-style;
    }
    p{
        @extend %text-style;
    }
    select{ 
       
        font-size: medium;
        color: $black-color;
        width: 40vw;
        height: 5vh;
        border: 3px solid $primary-color;
        border-radius: 1rem;
        padding-left: 5px;
        
    }
}
.scrolled{
    position: fixed;
    top:0;
     background-color:$light-color;
     height: 120px;
     width: 100vw;
    z-index: 2;
    box-shadow: 2px 2px $shadow;
}