.search-div{
    @extend %flex-col;
    min-height: 30rem;
    min-width: 30rem;
    align-items: center;
    
    
    
    // border: 1px solid black;
    
    label{
        @extend %text-style;
    }
    p{
        @extend %text-style;
    }
    select{
        width: 25rem;
        height: 2rem;
        border: 3px solid $primary-color;
        border-radius: 1rem;
        
    }
}