.link_div{
    @extend %flex-col;
    min-width: 100vw;
    // border:1px solid black;
    padding-left: 38vw;
    

   a{
    @extend %text-style;
    &:hover{
        color: $secondary-color;
    }
    
   }
}
