.link_div{
    @extend %flex-col;
    min-width: 100vw;
    // border:1px solid black;
    padding-left: 38vw;
    align-items: flex-start;
    

   a{
    @extend %text-style;
    &:hover{
        color: $secondary-color;
    }
    
   }
   button{
    margin-left: 15vw;
    &:hover{
        background-color: $secondary-color;
    }
   }

}
